<%-include("header")-%>
<h1 id="heading"><%=kindofday%></h1>

<div id="content1">
  <ul>
    <% itemss.forEach(function(item){ %>

    <form action="/delete" method="post">

      <div id="listboc">

     
            <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
            <%= item.title %>

      </div>
      <input type="hidden" name="hiddeninp" value="<%= kindofday %>"></input>

    </form>

    <% }) %>
  </ul>

  <form action="/" method="post">
    <input type="text" name="item" placeholder="NEW ITEM" id="enter" />
    <button type="submit" id="adding" name="adding" value="<%= kindofday %>">
      +
    </button>
  </form>
</div>

<%-include("footer")-%>
